
		#bodyIE {
			background: url('../img/imagem1.jpg') no-repeat ;
			background-size: cover;
		}

		body{
			background: url('../img/imagem1.jpg') no-repeat ;
			background-size: cover;
		}
    	.logotipo-decop{
			width: 5.2em;
		}
        
        code{
			background-color: lightgray;
		}
		.corporativo{
			background-color: black;
		}

		a{
			color: black;
			font-weight: bold;
		}
		
        a:hover{
           background-color: lightgray;
        }

        .page-footer{
			padding: 5px;
			height: 4em;
			position: fixed;
			left: 0;
			bottom: 0;
			width: 100%;
			text-align: right;
		}
		.card-image{
			width: 20%;
			align-self: center;
		}
		.card .card-content{
			padding: 5%;
			height: 120px;
			align-self: center;
		}
		.carousel .carousel-item { 
			min-height: 520px !important; 
		
			
		}
		#myChart {
			background-color:#ffffffe6 ;
			margin-top: 8%;
		}
		#chartLinhaColuna{
			background-color:#ffffffe6;
		}


		h3{
			text-align: center;
			margin: 10px 10px 0px;
		}
		
	

		.tituloPagina {
			color: white;
			text-shadow: 2px 2px black;
			font-size: 2.3em;
			background-color:rgba(0,0,0,0.5);
			padding: 15px;
			border-radius: 5px;
			box-sizing: border-box;
		}

		.cabecalhoTitulo, .titulo, .realize, .tipoIndicador {
			text-transform: uppercase;
			color: white;
			text-shadow: 1px 1px black;
			font-weight: bold;
			
		}

		#Erro{
			text-align: center;
			color: white;
			text-shadow: 2px 2px black;
			font-size: 2em;
			background-color:rgba(0,0,0,0.5);
			padding: 10px;
			border-radius: 5px;
			box-sizing: border-box;
			margin-top: 15%;
		
		}
	

		