
		body{
			background-image: url("img/imagem1.jpg");
			background-size: cover;
			background-repeat: no-repeat;
  			background-position: right top;
  			background-attachment: fixed;
		}

    	.logotipo-decop{
			width: 5.2em;
		}
        
        code{
			background-color: lightgray;
		}
		.corporativo{
			background-color: black;
		}

		a{
			color: black;
			font-weight: bold;
		}
		
        a:hover{
           background-color: lightgray;
        }

        .page-footer{
			padding: 5px;
			height: 4em;
			position: fixed;
			left: 0;
			bottom: 0;
			width: 100%;
			text-align: left;
		}
		.card-image{
			width: 20%;
			align-self: center;
		}
		.card .card-content{
			padding: 5%;
			height: 120px;
			align-self: center;
		}
		.carousel .carousel-item { 
			min-height: 520px !important; 
		
			
		}
		
		/* Empurrar o overlay do menu lateral para o lado, deixando o menu clicavel */

		.sidenav-overlay{
			left: 21.5rem;
		}

		table, th, td {
			border: 1px solid black;
		  }
		
		.paragrafo_tabela {
			line-height: 0.5;
		}

		blockquote {
			border-left-color: black;
		}

		.btn {
			background-color: #C77F47
		}

		.modal-close {
			Background-color: #C77F47;
			color: white;
		}
		
		.collapsible-header{
			padding: 0.7rem;
		}

		.collapsible-header:hover{
			background-color: lightgray;
		}

		.collapsible-body {
			background-color: white;
		}

		h3{
			text-align: center;
			margin: 10px 10px 0px;
		}
		
		h6{
			font-size: 2rem!important;	
			display: inline!important;
			vertical-align: middle!important;
		}

		#iconemaior {
			font-size: 2.5rem;
			vertical-align: middle!important;
			margin-bottom: 0.46rem;
			margin-right: 2rem;
		}

		.chamada-para-acao{
			color: white;
			text-shadow: 2px 2px black;
			font-size: 2.3em;
			background-color:rgba(0,0,0,0.5);
			padding: 15px;
			border-radius: 5px;
			box-sizing: border-box;
		}

		